html {
  scroll-behavior: smooth;
}

.d-flex {
  align-items: center;
}


/* Category Card CSS  */

.productclass {
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  margin: 11px;
}

.productclass:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.productclass img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 50%;
}

.productclass a {
  text-decoration: none;
}

.productclasscont {
  position: relative;
  padding: 20px;
  text-align: center;
}

.categoryname {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

/* Empty message CSS */

.empty-wishlist-card,
.empty-cart-card,
.empty-search-card,
.empty-address-card {
  border: 1px solid;
  border-image: linear-gradient(to right, #f06, #f79) 1;
  background: linear-gradient(to right, #ffecd2, #fcb69f);
  border-radius: 8px;
  color: #333;
}

.empty-wishlist-text,
.empty-cart-text,
.empty-search-text,
.empty-address-text {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 0;
}


/* Changing background color on hover */


.dropdown-menu .dropdown-item:hover {
  background-color: black;
  color: white;
}


/* Border around the image of cart on home page  */

.animated-border {
  position: relative;
}

.animated-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-radius: 10px;
  animation: animated-border 3s linear infinite;
}

@keyframes animated-border {
  0% {
    border-color: transparent;
  }

  50% {
    border-color: #000000;
  }

  100% {
    border-color: transparent;
  }
}


/* Product Card on the Respective Card Page */

.product-item {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: white;
  transition: transform 0.3s ease;
}

.product-item:hover {
  transform: scale(1.05);
}

.product-item img {
  margin-bottom: 10px;
  width: 80%;
  height: auto;
}

.product-item .price {
  margin-top: 10px;
}

.product-item .title {
  margin-bottom: 5px;
}

.col {
  display: flex;
  justify-content: center;
}

.col .btn {
  display: block;
  text-align: center;
  width: 100%;
}

.img-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.img-shadow img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}



/* Contact Us Page  */

.developer-container {
  display: flex;
  flex-wrap: wrap;
}

.developer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 2rem;
}

/* .developer-info img {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
} */

.developer-card .card-img-top {
  width: 70%;
}

@media (max-width: 767.98px) {
  .developer-container {
    flex-direction: column;
  }

  .developer-info {
    margin-right: 0;
  }
}