{% extends 'firstapp/basefile.html' %}
{% load static %}
{% block title %} AboutUs {% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center fw-bold">About Us</h2>
    <br>
    <div class="row container">
        <p class="fs-5 text-center">
            Welcome to <strong>ClicknCart</strong>, your ultimate destination for convenient and hassle-free online
            grocery shopping.
            At ClicknCart, we understand the importance of quality, freshness, and efficiency when it comes to
            meeting your everyday grocery needs. With a commitment to excellence and customer satisfaction, we strive to
            redefine the grocery shopping experience for our valued customers.
        </p>
    </div>
    <br>
    <h2 class="text-center fw-bold">Vision & Mission</h2>
    <br>
    <div class="row container">
        <p class="fs-5 text-center">
            Founded with a vision to revolutionize the way people shop for groceries,<strong>ClicknCart</strong> offers
            a wide range
            of high-quality products, including fresh produce, pantry staples, household essentials, and specialty
            items, all conveniently accessible from the comfort of your home. Our user-friendly interface and intuitive
            navigation make it easy to browse, select, and purchase your favorite products with just a few clicks.
        </p>
    </div>

</div>
{% endblock main-content %}
