{% extends 'firstapp/basefile.html' %}
{% load static %}
{% block title %} Search {% endblock title %}

{% block main-content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    {% for p in product %}
                        <div class="col-sm-4 text-center mb-4 hover-shadow">
                            <a href="{% url 'product-details' p.id %}" class="btn">
                                <div>
                                    <img src="{{ p.product_image.url }}" width="300px" height="200px">
                                    <div class="fw-bold">{{ p.title }}</div>
                                    <div class="fw-bold text-danger">Rs. {{ p.discounted_price }}
                                        <small class="fw-light text-decoration-line-through">{{ p.selling_price }}</small>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                {% if not product %}
                    <div class="card empty-search-card mt-4">
                        <div class="card-body text-center">
                            <p class="empty-search-text">No products found matching your search criteria.</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock main-content %}